:root {
  --sans-serif: system-ui, -apple-system, "BlinkMacSystemFont", "HiraginoSans",
    "Hiragino Sans", "Roboto", "Noto Sans", "Noto Sans CJK JP", "Oxygen-Sans",
    "Ubuntu", "Cantarell", "Segoe UI", "Meiryo", "Arial", sans-serif,
    "Apple Color Emoji", "Noto Color Emoji", "Symbola", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

html {
  font-family: var(--sans-serif);
}

*:target {
  background: lightgreen;
  color: black;
  outline: 1px dotted;
}

.data-footnote-backref {
  font-family: var(--sans-serif);
}
.data-footnote-backref {
  font-family: var(--sans-serif);
}
.data-footnote-backref {
  font-family: var(--sans-serif);
}

.rehype-figure-container {
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0 -1.5rem;
}
.rehype-figure-container .rehype-figure {
  position: relative;
  margin: 0;
}
.rehype-figure-container img {
  object-fit: cover;
  aspect-ratio: 16/9;
}
.rehype-figure-container figcaption {
  position: absolute;
  bottom: 1rem;
  left: 0;
  right: 0;
  text-shadow: 1px 1px 3px black;
  color: white;
  font-family: var(--sans-serif);
  font-style: normal;
  margin: 0;
  text-align: left;
  padding: 0 1rem;
}
